*.egg-info
*.pyc
__pycache__
.coverage
.coverage.*
durations/*
coverage*.xml
dist
htmlcov
build

# Mac personalization files
*.DS_Store

# Virtual Envs
venv/
.venv

# Setuptools scm version
_version.py
